@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="col-8">
        <h1>
            Velkommen til <strong>'Løb for livet'</strong>
        </h1>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>
            <img src="images/loeb.png" style="vertical-align:middle" />
        </p>
    </div>
</div>

